



:root {
  --sidebar-width: 20%;
  --collapsed-sidebar-width: 120px;
  --primary-color: #991D20;
  --secondary-color: #F9F9F9;
  --text-color: #727272;
  --icon-size: 18px;
  --icon-size-lg: 22px;
  --transition-duration: 0.3s;
}

.sidebar {

  overflow: hidden;
  height: 100vh;
  width: var(--sidebar-width);
  background-color: var(--secondary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  transition: transform var(--transition-duration) ease, width var(--transition-duration) ease;

  font-size: 16px;

}

.sidebar.collapsed {
  width: var(--collapsed-sidebar-width);
}

.sidebar.offcanvas-open {
  transform: translateX(0);
}

.sidebar.collapsed.offcanvas-open {
  transform: translateX(0);
}



.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid var(--primary-color);
}

.logo {
  width: 75%;
  height: auto;
  transition: width var(--transition-duration) ease;
  font-size: 1.5em;
  margin: 0;
}

.collapsed-logo {
  width: 70px;
}

.toggle-btn {
  border: none;
  cursor: pointer;
  width: 15%;
  margin-left: 10%;
}

.collapsed-toggle {
  width: 1em;
  margin-left: 0%;
}

.nav-links {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--text-color);
  flex-grow: 1;
  overflow-y: auto;

}

.nav-links li {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background var(--transition-duration), color var(--transition-duration);
  width: 100%;
}

.nav-links li:hover {
  background-color: var(--primary-color);
  color: #fff !important;
}

.sidebar.collapsed .nav-links li {
  justify-content: center;
}

.sideBar-link {
  list-style: none;
  text-decoration: none;
  color: var(--text-color) !important;
  width: 100%;
  display: flex;
  align-items: center;
}

.icon, .icon-exlg {
  margin-right: 10px;
  transition: filter var(--transition-duration);
}

.icon {
  width: var(--icon-size);
}

.icon-exlg {
  width: var(--icon-size-lg);
}

.nav-links li:hover .icon {
  filter: brightness(0) invert(1);
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.moreOptions {
  display: block !important;
}

.dropdown-icon {
  margin-left: 10px;
  font-size: 12px;
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.dropdown-menu li {
  margin: 5px 0;
  padding-left: 30px;
}

.nav-links {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--secondary-color);
}

.nav-links::-webkit-scrollbar {
  width: 8px;
}

.nav-links::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

.nav-links::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 4px;
}

.nav-links::-webkit-scrollbar-thumb:hover {
  background: #1abc9c;
}

.nav-links {
  flex-wrap: wrap;
  padding-left: 0;
}

@media (max-width: 900px) {
 

  .sidebar {
    width: 50%; 
  }
}

@media (max-width: 900px) {
.toggleBtn{
  border: none;
  cursor: pointer;

  width:5%;
}
  .toggle-btn{

    display: none;
  }
  .sidebar.hidden {
    display: none;
  }
}

