.main-chat-div {
  display: flex;
  flex-direction: column;
  gap: 22px;
  border: 1.5px solid #E2E8F0;
  padding: 30px 35px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0px 0px 4.5px 0px #EBEEF2;
  height: fit-content;
  width: fit-content;
}

.main-chat-div p {
  margin: 0;
  padding: 0;
}

.title-and-chatCount {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.chat-count {
  background-color: #1D1E1E;
  height: 25px;
  width: 25px;
  text-align: center;
  font-size: 14px;
  align-content: center;
  color: white;
  border-radius: 20px;
}

.chats-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.chat-img {
  width: 63px;
  height: 63px;
  border-radius: 100%;
  overflow: hidden;
}

.chat-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  border: 1px solid #E5E7EB;
  border-radius: 18px;
  padding: 18px 22px;
}

.main-text-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.chatName-and-chatTime {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
