.main-div {
    border: 1.5px solid #E2E8F0;
    padding: 5px 25px 25px 25px;
    margin-top: 10%;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0px 0px 4.5px 0px #EBEEF2;
    height: fit-content;
    width: fit-content;
}

.second-div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.chart-main {
    display: flex;
    flex-direction: column;
    border: 1.5px solid #E2E8F0;
    padding: 10px 20px;
    border-radius: 10px;
}

.header-and-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.chart-area {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.chart-bars {
    display: flex;
    gap: 25px;
    height: fit-content;
    width: fit-content;
    margin: 15px 0px 0px 15px;
    align-items: flex-end;
}

.bar {
    width: 100px;
    background-color: #991D20;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
    border-radius: 6px;
    transition: 0.3s ease;
}

.bar:hover {
    background-color: #7e1517;
}

.chart-y-axis {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
}

.chart-x-axis {
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-top: 5px;
    gap: 25px;
    margin-top: 0px;
}

.x-axis-interval-values {
    font-size: 11px;
    list-style: none;
    text-align: center;
    width: 100px;
}

.y-axis-label {
    font-size: 11px;
    color: #991D20;
    rotate: -90deg;
    text-align: start;
    align-self: center;
    margin: 0px -30px 48px -50px;
}

.x-axis-label {
    font-size: 11px;
    color: #991D20;
    text-align: center;
}

.summary-main {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.stat-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 0px 20px;
    border-radius: 13px;
}