.ProgressReport-container {
    width: 80%;
    margin: auto;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ff5733;
  }
  
  Progress {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  
  thead th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  tbody td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .highlight-row {
    background-color: #ffcccc !important;
    color: #333;
    font-weight: bold;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }