.upcoming-lessons-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    border: 1.5px solid #E2E8F0;
    padding: 30px 35px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0px 0px 4.5px 0px #EBEEF2;
    height: fit-content;
    width: fit-content;
  }
  
.upcoming-lessons-container p {
    margin: 0;
    padding: 0;
}

.lessons-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.lesson-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 15px 3px #efefef;
    border-radius: 12px;
    padding: 18px 28px;
    width: 429px;
}

.lesson-title-batch {
    display: flex;
    flex-direction: column;
    gap: 2px;
    
}
  
.lesson-title {
    font-family: Poppins-Medium;
    font-size: 16px;
}
  
.lesson-batch {
    font-size: 14px;
    color: #494A4A;
}

.lesson-date-time {
    display: flex;
    flex-direction: column;
}

.lesson-time {
    text-align: right;
    font-size: 14px;
    color: #464646;
}
  
.lesson-date {
    font-family: Poppins-Medium;
    text-align: right;
    font-size: 16px;
    color: #1C1D1D;
}
