.main-announcement-div {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 1.5px solid #E2E8F0;
  padding: 30px 35px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0px 0px 4.5px 0px #EBEEF2;
  height: fit-content;
  width: fit-content;
}

.main-announcement-div p {
  margin: 0;
  padding: 0;
}

.announcement-divs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.announcement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 25px;
  box-shadow: 0px 0px 15px 3px #efefef;
  border-radius: 10px;
  font-size: 14px;
  align-content: start;
}

.left-text {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 83%;
}

.right-text {
  width: 12%;
  text-align: right;
}

.view-all-button {
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-size: 12px;
  color: #991D20;
  font-family: Poppins-SemiBold;
  justify-content: end;
  cursor: pointer;
}