.App {
  text-align: center;
  justify-items: center;


  display: flex;

}



.mainContent {
  width: 80%;
}
.routes-content{

  padding: 2%;
}

@media (max-width: 900px) {
  .mainContent {
    width: 75%;
  }

 
}
.content{
  padding :2% ; 

@font-face {
  font-family: 'Poppins-Regular';
  src: url('./Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-Medium';
  src: url('./Fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
}